{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project-detail' pk=project.pk %}">{{ form.title.value }}</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <h2>Project Details - {{ project.title }}</h2>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include "bootstrap_form.html" with form=form %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}