{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
            <li class="breadcrumb-item active">New</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <form action="" method="post">
            {% csrf_token %}
            {% include "bootstrap_form.html" with form=form %}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
{% endblock %}