

{% load static staticfiles %}
{% include "includes/header.html" %}

<!-- ***** Contact Area Start ***** -->
    <div class="dorne-contact-area d-md-flex" id="contact">
        <!-- Contact Form Area -->
        <div class="contact-form-area equal-height">
            <div class="contact-text">
                <p>Help other teams find your project by libeling it!</p>
                <p>Please add a project you think that, others will need it!</p>
               
               
            </div>
          
                <div class="contact-form-title">
                    <h6>Add product here:</h6>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Name of project">
                        </div>
                        <div class="col-12 col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="Key words">
                        </div>
                        <div class="col-12">
                            <input type="text" name="subject" class="form-control" placeholder="note">
                        </div>
                        <div class="col-12">
                            <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Description"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn dorne-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
      
            <div class="dorne-map-area equal-height">
                <div class="contact-text">
                    <p>Help other teams find your project by libeling it!</p>
                    <p>Please add a project you think that, others will need it!</p>
                   
                   
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area End ***** -->
   

    
    
    <!-- ****** Footer Area End ****** -->

 