{% load staticfiles %}
{% include "graphics/includes/header.html" %}


<div class="container">
     <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-12">

        <br/>

<ul class="nav nav-tabs">
  <li class="nav-item active show">
    <a class="nav-link" data-toggle="tab" href="#home" style="font-family:Times New Roman">Team</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" style="font-family:Times New Roman" href="#profile">Publications and Conferences</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in entry-content" id="home">



    <div class="col-sm-4">
      <br/><br/>
    <p style="font-family:Times New Roman">Ersan ERDEM</p><br/>

      <img src="{% static 'graphics/images/ben.jpg' %}" width="220px" height="60px"/><br/><br/>

        <p style="font-family:Times New Roman">
        Master Student, Necmettin Erbakan University Institute of Science Department of Mathematics, Konya, Turkey.
        </p>
        <p style="font-family:Times New Roman">
            Contact: <a class="reference internal" href="mailto:ersanerdem.ee@gmail.com">ersanerdem.ee@gmail.com</a>
        </p></div>

    <div class="col-sm-4" >
          <br/><br/>
          <p style="font-family:Times New Roman">Gülnur ÇELİK KIZILKAN</p><br/>


        <p style="font-family:Times New Roman">
         Assistant Professor, Necmettin Erbakan University Faculty of Science Department of Mathematics-Computer, Konya, Turkey.
        </p>

        <p style="font-family:Times New Roman">
            Contact: <a class="reference internal" href="mailto:gckizilkan@erbakan.edu.tr">gckizilkan@erbakan.edu.tr</a>
        </p>
</div>
    <div class="col-sm-4">
        <br/><br/>
        <p style="font-family:Times New Roman">Ali Osman ÇIBIKDİKEN</p><br/>
 <img src="{% static 'graphics/images/aliosmancıbıkdiken.jpeg' %}" width="150px"height="188px"/><br/><br/>

        <p style="font-family:Times New Roman">
         Assistant Professor, Necmettin Erbakan University Faculty of Engineering and Architecture Department of Computer Engineering, Konya, Turkey.
        </p>

        <p style="font-family:Times New Roman">
            Contact: <a class="reference internal" href="mailto:aocdiken@erbakan.edu.tr">aocdiken@erbakan.edu.tr</a>
        </p>



</div>

</div><br/><br/><br/>


  <div class="tab-pane fade" id="profile">
      <br/><br/>

     <ul>
         <li style="font-family:Times New Roman; font-size: 18px;">
             <em>Creating a Web Interface for Step Size Strategies, International Conference on Mathematics and Mathematics Education (ICMME-2017), Harran University, Sanliurfa, May 11-13, 2017, (Ersan ERDEM, Gulnur CELIK KIZILKAN, Ali Osman CIBIKDIKEN). </em>
         </li>

     </ul>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>




  </div>

</div>








    </div>





 </div>
<br/><br/><br/><br/>
</div> <!-- class="container" -->
{% include "graphics/includes/footer.html" %}