{% load staticfiles %}

<footer   >

   <div class="container">

     <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
      <div class="row">
         <div class="col-xs-10">
            <a href="https://www.linkedin.com/in/ersan-erdem-3b560a141/"target="_blank" ><p style=" font-family: Times New Roman;">&copy;&nbsp; 2017/2018 Ersan Erdem</p></a>
             &nbsp;
              &nbsp; <a class="reference external image-reference" href="https://www.djangoproject.com/" target="_blank">

            </a>
         </div>
         <div class="col-xs-2">
             <p style=" font-family: Times New Roman;"class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p>
         </div>
      </div>
   </div>

</footer >
<script src="/static/graphics/js/jquery.min.js"></script>
<script src="/static/graphics/js/bootstrap.min.js"></script>
<script src="/static/graphics/js/respond.min.js"></script>
<script src="/static/graphics/js/bodypadding.js"></script>
<script>$(document).ready(function() {
    var table = $('#datatables').DataTable( {
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true,
        "bFilter": false,

    } );
} );
</script>
<script src="/static/graphics/js/jquery-1.12.4.js" ></script>
<script src="/static/graphics/js/jquery.dataTables.min.js"></script>
<script src="/static/graphics/js/dataTables.rowReorder.min.js"></script>
<script src="/static/graphics/js/dataTables.responsive.min.js"></script>
</body>
</html>
